html,
body {
  background: #ffe4e1;
}
h3 {
  text-align: center;
  font-family: optima;
  font-weight: bold;
  color: #2f4f4f;
}
.container {
  background: #f5fffa;
  padding: 1rem;
  border-radius: 1rem;
}

.about {
  text-align: center;
  font-family: optima;
  color: #2f4f4f;
}
